*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.nav-container{
    width: 100%;
    display: flex;
    padding: 1vh 3vw;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.nav-logo {
    width: 7vh;
    height: 100%;
    margin: auto 0;
}

.nav-name {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 3vw;
    color: #383838;
    font-size: 4vh;
}


.menu-image {
    width: 7vh;
    height: 100%;
    margin: auto 0;
    margin-right: 0;
    margin-left: auto;
}

.dropdown-menu {
    position: absolute;
    top: 2vh;
    right: 0;
    width: 25vh;
    overflow-y: auto;
    background: white;
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.dropdown-menu.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item {
    padding: 1rem 1.2rem;
}

.dropdown-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-item + .dropdown-item::before {
    content: '';
    display: block;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

.menu-h {
    font-size: 3vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    padding-left: 2vh;
    background: #f5f5f5;
}

.menu-task {
    font-size: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 2vh;
    background: #f5f5f5;
}

.menu-hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2));
    border: 0;
    height: 1px;
    content-box;
    display: block;
}